<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
<section class=" d-flex justify-content-center align-items-center">
<div class="text-center">
<h1 class="font-weight-bold">Write your Thoughts</h1>
<p>Start Collecting your contacts in very smarter way. We provide efficient and smarter way to handle Contacts.</p>


<a th:href="@{/admin/categories/add}">Click here to go to Blog page</a>

</div>
</section>
	
</body>
</html>